In [1]:
from bcshapley import *
import pandas as pd
import numpy as np

In [2]:


df = pd.DataFrame(np.random.randn(10,6))
# Make a few areas have NaN values
df.iloc[1:3,1] = np.nan
df.iloc[5,3] = np.nan
df.iloc[7:9,5] = np.nan
df.columns = ["Y"] + [f"X{i}" for i in range(1,6)]


df2 = pd.DataFrame(np.random.randn(10,6))
# Make a few areas have NaN values
df2.columns = ["Y"] + [f"X{i}" for i in range(1,6)]

In [3]:
UV = [f"X{i}" for i in range(1,6)]
AV = "Y"

has_missings(df, AV, UV), has_missings(df2, AV, UV)

(True, False)

In [4]:
count_missings(df, AV, UV), count_missings(df2, AV, UV)

(5, 0)

In [8]:
temp = imp_median(df, AV, UV)
temp

          Y        X1        X2        X3        X4        X5
0  1.282418 -0.862923 -1.383857  0.245327 -0.243993  0.713343
1  0.517059  0.356098  0.594248 -0.593833 -0.879089  0.555742
2 -0.643628  0.356098  1.780567 -0.101305  0.368395  0.668205
3 -0.055213  0.608803 -0.220795 -0.649243 -0.397204  0.190863
4  0.098559 -1.484804  2.477333 -0.423742  0.409557 -0.233102
5  0.946164  0.532840  0.232370 -0.593833 -1.222718  2.207043
6 -0.886375 -0.723528 -0.071264 -2.466216  1.713251  0.795732
7 -0.269416  0.371716 -0.493538 -0.820438 -0.247815  0.611974
8  0.947512  1.218924 -0.395471 -0.058393  0.183542  0.611974
9  1.072449  0.340481  0.814189 -0.975608 -0.055715 -0.512542

In [6]:
df.median()

Y     0.307809
X1    0.356098
X2    0.080553
X3   -0.593833
X4   -0.149854
X5    0.611974
dtype: float64

In [7]:
df

          Y        X1        X2        X3        X4        X5
0  1.282418 -0.862923 -1.383857  0.245327 -0.243993  0.713343
1  0.517059       NaN  0.594248 -0.593833 -0.879089  0.555742
2 -0.643628       NaN  1.780567 -0.101305  0.368395  0.668205
3 -0.055213  0.608803 -0.220795 -0.649243 -0.397204  0.190863
4  0.098559 -1.484804  2.477333 -0.423742  0.409557 -0.233102
5  0.946164  0.532840  0.232370       NaN -1.222718  2.207043
6 -0.886375 -0.723528 -0.071264 -2.466216  1.713251  0.795732
7 -0.269416  0.371716 -0.493538 -0.820438 -0.247815       NaN
8  0.947512  1.218924 -0.395471 -0.058393  0.183542       NaN
9  1.072449  0.340481  0.814189 -0.975608 -0.055715 -0.512542

In [13]:
shapreg(df2, AV, UV)

-------------------------------------------------| 500

X1    0.149702
X2    0.079952
X3    0.103630
X4    0.641269
X5    0.025446
dtype: float64

In [12]:
shapreg(temp, AV, UV)

-------------------------------------------------| 500

X1    0.030017
X2    0.134632
X3    0.346764
X4    0.475542
X5    0.013044
dtype: float64